{% extends 'lecturer/layout.html' %}

{% load static %}

{% block body %}
        <div class="row row-cols-1 row-cols-md-3  " style="padding-top: 80px; padding-left: 60px;">
            {% for course in courses %}
                <a href="{%  url 'course' course.id %}">
                    <div class="col" style="padding-top: 20px;">
                        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{course.name}}</h4>
                                <p class="card-text">Total students: {{course.students.count}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
   
        
{% endblock %}