{% extends 'lecturer/layout.html' %}

{% load static %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h2>Notice for {{notice.course}}</h2>
            <div style="padding-left: 10px;">
                <button type="button" data-bs-toggle="modal" data-bs-target="#NoticeModal" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                    Edit Notice
                </button>
            </div>
        </div>
    </div>

    <div class="modal" id="NoticeModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create New Notice</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <label for="uptitle">Title:</label>
                    <input type="text" name="title"  placeholder="Title" value="{{notice.title}}" id="uptitle">
                    <br>
                    <label for="upbody">Body:</label>
                    <textarea  id="upbody" name="body" cols="30" rows="5">{{notice.body}}</textarea>
                    <br>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                    <button type="submit"  id="close" class="btn btn-primary">Save changes</button>
                </form>
            </div>
          </div>
        </div>
    </div>

    <br>
    <div class="card" >
        <div class="card-body">
            <h4 class="card-title" id="noticeTitle"><strong>Title : {{notice.title}}</strong></h5>
            <p class="card-text" id="noticeBody">{{notice.body}}</p>
        </div>
    </div>


    <script >
    document.querySelector('#close').addEventListener('click', function() {
        alert('Notice Update successfully');
    })
    </script>
{% endblock %}